<div class="mt-8 flex flex-col justify-center items-center bg-gray-100 min-h-screen">
  <%= image_tag 'team.jpg', class: "rounded-lg mt-4 object-contain", width: "800" %>
  <div class="text-center m-0 mt-0 flex-grow">
  	Artbeat Dancer Database
  </div>  




<%= render 'layouts/footer' %>

</div>