<div class="bg-gray-200">
  
  <div class="text-center m-0 mt-0 flex-grow">
  	<%= image_tag 'team.jpg', class: "rounded-lg mt-4 object-contain mx-auto mt-4", width: "800" %>
  	<h1 class="text-center text-2xl text-orange-500">Artbeat Dancers</h1>
  </div>  

<% render 'layouts/footer' %>

</div>