  <div class="footer text-center mt-auto">
    <div class="grid place-items-center">
      <%= link_to 'https://linktr.ee/artbeat_v.dubidubi', target: '_blank' do %>
        <%= image_tag 'ARTBEATvSingleAlbum-DUBIDUBI.jpg', alt: 'Artbeat V Dubi Dubi', class: 'mx-auto' %>
      <% end %>
    </div>
  </div>
